<h3><code>cps</code></h3>

<p class="margin-top"><code>cps</code> determines how many characters are written per second. Higher numbers are faster, as more characters are written each second:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="I use the default cps of 25 milliseconds."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="I use the default cps of 25 milliseconds."
  }}
{{/lxl-container}}

{{format-markdown '```hbs
{{ember-lxl
  cps=100
  text="I use a fast cps!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    cps=100
    text="I use a fast cps!"
  }}
{{/lxl-container}}

{{format-markdown '```hbs
{{ember-lxl
  cps=10
  text="I use a slow cps. . . ."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    cps=10
    text="I use a slow cps. . . ."
  }}
{{/lxl-container}}
