<h3><code>cb</code></h3>

<p class="margin-top"><code>cb</code> will execute the specified callback, passing in the provided arguments:</p>

{{format-markdown '```hbs
{{ember-lxl
  cbs=cbs
  text="And wait for it. [[cb alert foo bar]] Boom, there it is!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    cbs=cbs
    text="And wait for it. [[cb alert foo bar]] Boom, there it is!"
  }}
{{/lxl-container}}

<p class="margin-top">You can also trigger the callbacks through <code>data-cb</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  cbs=cbs
  text="You can <a data-cb=alert>click me</a>"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    cbs=cbs
    text="You can <a data-cb=alert>click me</a>, or <a data-cb=alert>click me</a>."
  }}
{{/lxl-container}}

<p class="margin-top">If you return a Promise, it'll wait until the Promise resolves before proceeding:</p>

{{format-markdown '```hbs
{{ember-lxl
  cbs=cbs
  text="I am written. [[cb customPause 1000]] I continue writing!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    cbs=cbs
    text="I am written. [[cb customPause 1000]] I continue writing!"
  }}
{{/lxl-container}}
