<h3><code>cps</code></h3>

<p class="margin-top"><code>cps</code> changes the characters-per-second written by <code>ember-lxl</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[cps 150]]And now sonic speed!!!!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[cps 150]]And now sonic speed!!!!"
  }}
{{/lxl-container}}

<p class="margin-top">If you use an opening tag, then you can return the cps to it previous value with a closing tag:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[#cps 150]]Super fast!!! [[#cps 5]]Super slow...[[/cps]] Return to fast!!![[/cps]] Return to initial speed."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[#cps 150]]Super fast!!! [[#cps 5]]Super slow...[[/cps]] Return to fast!!![[/cps]] Return to initial speed."
  }}
{{/lxl-container}}

<p class="margin-top">You can also change the cps relative to the current cps by using mathmatical operators, including <code>*</code>, <code>/</code>, <code>+</code>, <code>-</code>, <code>%</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[cps *15]]Times 15!!! [[cps +50]]Plus another 50!!!! [[cps -25]]Minus 25!!!? [[cps /5]]Divided by 5..."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[cps *15]]Times 15!!! [[cps +50]]Plus another 50!!!! [[cps -25]]Minus 25!!!? [[cps /5]]Divided by 5..."
  }}
{{/lxl-container}}
