<h3><code>stagger</code></h3>

<p class="margin-top"><code>stagger</code> changes the characters-per-second written by <code>ember-lxl</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[stagger 150]]And now sonic speed!!!!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[stagger 150]]And now sonic speed!!!!"
  }}
{{/lxl-container}}

<p class="margin-top">If you use an opening tag, then you can return the stagger to its previous value with a closing tag:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[#stagger 150]]Super fast!!! [[#stagger 5]]Super slow...[[/stagger]] Return to fast!!![[/stagger]] Return to initial speed."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[#stagger 150]]Super fast!!! [[#stagger 5]]Super slow...[[/stagger]] Return to fast!!![[/stagger]] Return to initial speed."
  }}
{{/lxl-container}}

<p class="margin-top">You can also change the stagger relative to the current stagger by using mathmatical operators, including <code>*</code>, <code>/</code>, <code>+</code>, <code>-</code>, <code>%</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default speed. [[stagger *15]]Times 15!!! [[stagger +50]]Plus another 50!!!! [[stagger -25]]Minus 25!!!? [[stagger /5]]Divided by 5..."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default speed. [[stagger *15]]Times 15!!! [[stagger +50]]Plus another 50!!!! [[stagger -25]]Minus 25!!!? [[stagger /5]]Divided by 5..."
  }}
{{/lxl-container}}
