<h3><code>tween-rate</code></h3>

<p class="margin-top"><code>tween-rate</code> changes the rate of the tween effect:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default rate. [[tween-rate 150]]And slow rate. . . ."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default rate. [[tween-rate 150]]And slow rate. . . ."
  }}
{{/lxl-container}}

<p class="margin-top">If you use an opening tag, then you can return the <code>tweenRate</code> to its previous value with a closing tag:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default rate. [[#tween-rate 10]]Fast rate! [[#tween-rate 150]]Super slow...[[/tween-rate]] Return to fast!!![[/tween-rate]] Return to initial rate."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default rate. [[#tween-rate 10]]Fast rate! [[#tween-rate 150]]Super slow...[[/tween-rate]] Return to fast!!![[/tween-rate]] Return to initial rate."
  }}
{{/lxl-container}}

<p class="margin-top">You can also change the <code>tweenRate</code> relative to the current <code>tweenRate</code> by using mathmatical operators, including <code>*</code>, <code>/</code>, <code>+</code>, <code>-</code>, <code>%</code>:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default rate. [[tween-rate *15]]Times 15!!! [[tween-rate +50]]Plus another 50!!!! [[tween-rate -25]]Minus 25!!!? [[tween-rate /5]]Divided by 5..."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default rate. [[tween-rate *15]]Times 15!!! [[tween-rate +50]]Plus another 50!!!! [[tween-rate -25]]Minus 25!!!? [[tween-rate /5]]Divided by 5..."
  }}
{{/lxl-container}}
