<h3><code>tween-effect</code></h3>

<p class="margin-top"><code>tween-effect</code> changes the effect that the tween animates:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default effect. [[tween-effect (hash x=(hash to=0 from=150))]]And new effect!!!"
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default effect. [[tween-effect (hash x=(hash to=0 from=150))]]And new effect!!!"
  }}
{{/lxl-container}}

<p class="margin-top">If you use an opening tag, then you can return the <code>tweenRate</code> to its previous value with a closing tag:</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Default effect. [[#tween-effect (hash x=(hash to=0 from=150))]]And new effect!!![[/tween-effect]] And back to normal."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Default effect. [[#tween-effect (hash x=(hash to=0 from=150))]]And new effect!!![[/tween-effect]] And back to normal."
  }}
{{/lxl-container}}
